.cont {
  background-color: #45ffc4;
  margin: 0%;
  width: 100%;
}

.heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  background-color: #ab0000;
  border-radius: 10px;
  padding: 0.5rem;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem;
  width: fit-content;
  margin-left: 32%;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.button {
  background-color: #ab0000;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid #fff;
  margin-right: 2rem;
}

.covid {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ab0000;
  background-color: #45ffc4;
  padding: 0.2rem;
  border-radius: 5px;
  font-weight: bold;
}

.tracker {
  color: #45ffc4;
  font-weight: bold;
  padding: 0.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.link:hover {
  text-decoration: none;
}

.LandingPage {
  background: #45ffc4;
  width: 100%;
  height: 84vh;
  padding: 2rem;
}

.shadow {
  box-shadow: 1px 8px 20px 1px #000000 !important;
}

.Heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  background-color: #ab0000;
  border-radius: 10px;
  padding: 0.5rem;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  width: fit-content;
  margin-left: 37%;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.cardholder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
  padding: 2rem;
}

.totalCases {
  height: 15rem;
  width: 20rem;
  font-weight: bold;
  border-radius: 10px;
  background-color: #1e1e1e;
  color: #d80303;
  padding: 1rem;
  font-size: 1.5rem;
  margin: 1rem;
  box-shadow: 5px 8px 20px -4px #000000;
  text-align: center;
}

.title {
  border-radius: 5px;
  background-color: #fff;
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
}

.activeCases {
  height: 15rem;
  width: 20rem;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #1e1e1e;
  color: #7a0000;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 5px 8px 20px -4px #000000;
  text-align: center;
}

.recovered {
  height: 15rem;
  width: 20rem;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #1e1e1e;
  color: #0f6e03;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 5px 8px 20px -4px #000000;
  text-align: center;
}

.deaths {
  height: 15rem;
  width: 20rem;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #1e1e1e;
  color: #110157;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 5px 8px 20px -4px #000000;
  text-align: center;
}

.outline {
  border: 1px solid #5e5e5e;
  border-radius: 5px;
  height: 13rem;
  width: 16.5rem;
  padding-top: 2rem;
}

.icon {
  height: 2.2rem;
  width: 2.2rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}
